<div className="about-wraper">
    <div className="about__picture">
        <img class="about__img" src="/assets/images/myPicture.jpg" alt="Miguel Santiago">
    </div>
    <div className="about__paragraph">
        <p>Experienced Analyst/Programmer with decades of experience. I have recently completed the Junior Web Development bootcamp by Generation Australia.
           With my knowledge and experience in coding, I can help create effective systems to assist businesses effectively connect with their customers. I am excited to apply my 
           strengths in diagnosing and developing innovative solutions.This Portfolio is made with React/Bootstrap.</p>
    </div>
</div>
