<div class="container"
     fxLayout="row"
     fxLayoutGap="10px"
     fxLayoutAlign="center">

  <div fxFlex> 
    <h1>Recent Projects</h1>  

      <mat-grid-list cols="2" rowHeight="400px" gutterSize="10px" *ngIf="!deviceXs">
        <mat-grid-tile *ngFor="let project of projects">
          <mat-grid-tile-header>
            <h1 style="color: red;font-weight: bold;">{{project.name | uppercase}}</h1>
          </mat-grid-tile-header>
          <img height="200px" src={{project.image}} alt={{project.name}}>
          <mat-grid-tile-footer>
            <p style="font-weight: bold;">{{project.description}}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="1" gutterSize="10px" *ngIf="deviceXs">
        <mat-grid-tile *ngFor="let project of projects">
          <mat-grid-tile-header>
            <h1 style="color: red;font-weight: bold;">{{project.name | uppercase}}</h1>
          </mat-grid-tile-header>
          <img height="200px" src={{project.image}} alt={{project.name}}>
          <mat-grid-tile-footer>
            <p style="font-weight: bold;">{{project.description}}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
</div>